<div class="asadmin-sidebar">
    <div class="ui inverted fluid visible vertical sidebar static icon menu">
        <a ng-click="item.$open()" ui-popup="{position: 'bottom right', onShow: item.$onShowPopup}" data-content="{{ item.label }}" data-variation="inverted" ng-class="{'open': item.open, 'sidebar-open': item.templateUrl && item.open}" ng-repeat="item in sidebar.itens" ng-controller="SidebarItemController" class="item">
            <i ng-class="item.icon" class="icon"></i>
            <div ng-if="item.itens" class="ui inverted fluid icon link menu horizontal">
                <div ng-click="item.$open()" ui-popup="{position: 'bottom right'}" data-content="{{ item.label }}" data-variation="inverted" ng-repeat="item in item.itens" ng-controller="SidebarItemController" class="item">
                    <i ng-class="item.icon" class="icon"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="asadmin-sidebar-open">
        <div ng-include="sidebar.sidebarTemplateUrl"></div>
    </div>
</div>